<!DOCTYPE html>
<html lang="en">
<head>
	{{>header}}
	<title>Index</title>
</head>
<body>
	{{>navbar}}
	<h3 style="color: deeppink;"> <p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus vero omnis quis natus odio nisi, eos ut molestiae adipisci quod tempore suscipit voluptate voluptatum maxime enim consectetur obcaecati sequi officiis?
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni veniam iusto excepturi quasi possimus culpa, inventore autem, porro repudiandae qui ipsam ullam unde atque vitae tempora eum at sapiente nesciunt!
	</p></h3>

	
</body>
</html>